/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./app/components/Button/Button.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__umxSx {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 100px;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 12px;
  gap: 6px;
}
.Button_button__umxSx[type=submit], .Button_button__umxSx[type=button] {
  background-color: #661ae6;
}
.Button_button__umxSx:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.Button_button__umxSx .Button_container__ZTZGb {
  height: 22px;
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Button_small__sLoAw {
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14px;
  padding: 6px 9px;
}

.Button_large__JjjsN {
  height: -moz-fit-content;
  height: fit-content;
  min-width: 130px;
  font-size: 18px;
  padding: 14px 22px;
}

.Button_outlined__LCh32 {
  color: #303d50;
  border: 1px solid #dadae4;
}
.Button_outlined__LCh32[type=submit], .Button_outlined__LCh32[type=button] {
  background-color: white;
}

.Button_secondary__m2HbM {
  color: #3c4467;
  border: 1px solid #3c4467;
}
.Button_secondary__m2HbM[type=submit], .Button_secondary__m2HbM[type=button] {
  background-color: white;
}

.Button_disabled__W54Lh {
  color: #7f859f;
  border: 1px solid transparent;
}
.Button_disabled__W54Lh[type=submit], .Button_disabled__W54Lh[type=button] {
  background-color: #e2e4e9;
}
.Button_disabled__W54Lh:hover {
  box-shadow: none;
}

.Button_loading__QRMly {
  cursor: wait;
  opacity: 0.5;
}

.Button_no_outlined__5ojpB {
  color: #661ae6;
  border: none;
}
.Button_no_outlined__5ojpB[type=submit], .Button_no_outlined__5ojpB[type=button] {
  background-color: white;
}

.Button_secondary_no_outlined__E_0fJ {
  color: #131620;
  border: none;
  font-weight: 300;
}
.Button_secondary_no_outlined__E_0fJ[type=submit], .Button_secondary_no_outlined__E_0fJ[type=button] {
  background-color: white;
}

.Button_secondary_no_outlined_bold__8yMyf {
  color: #131620;
  border: none;
}
.Button_secondary_no_outlined_bold__8yMyf[type=submit], .Button_secondary_no_outlined_bold__8yMyf[type=button] {
  background-color: white;
}

.Button_underlined__DFK9j {
  color: #3c4467;
  border: none;
  text-decoration: underline;
}
.Button_underlined__DFK9j[type=submit], .Button_underlined__DFK9j[type=button] {
  background-color: white;
}
.Button_underlined__DFK9j:hover {
  box-shadow: none;
}

.Button_basic___G174 {
  color: #e2e5e9;
  background-color: #661ae6;
  border: none;
}
.Button_basic___G174[type=submit], .Button_basic___G174[type=button] {
  background-color: #661ae6;
}
.Button_basic___G174:hover {
  box-shadow: none;
}
